<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8">


<title>Beta - Do Send A Card</title>

<link rel="stylesheet" href="bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<style>
#beta-tag {
	/* display: none; */
	float: left;
	color: rgb(41, 54, 63);
	font-size:3em;
}

</style>

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=251290538247163";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
	<div class="container">
	
	<header>
		<nav>
		<h2 id="beta-tag">Beta</h2><br>
		<p><a href="mailto:info@dosendacard.org">Contact</a> </p>
		
	
	<p>|</p>
	<p><a href="http://dosendacard.org/ways-to-help">Ways to Help</a></p>
		<p>|</p>
			<p><a href="http://dosendacard.org/about">About</a></p>
			
			<br>

		<hr>
		</nav>
		<a href="http://dosendacard.org/"><h1>Do Send A Card</h1><img src="img/dosend-logo.png" id="logo" /></a>
		<br>
			<p>Connecting members of our community on the psychiatric inpatient unit with messages of hope and recovery.</p>
		
	</header>
		<hr>
	
		<div class="page">
		
		
		
		
		
		</div>
		
		
		<footer class="footer">
		<hr>
	
	<p><a href="http://dosendacard.org/about">About</a></p>
	
	<p>|</p>
	<p><a href="http://dosendacard.org/ways-to-help">Ways to Help</a></p>
		<p>|</p>
			<p><a href="mailto:info@dosendacard.org">Contact</a> </p>
			<p>|</p>
			
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Do Send a Card">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<p>
<div class="fb-like" data-href="http://dosendacard.org/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</p>
	
		<script src="//platform.linkedin.com/in.js" type="text/javascript">
		lang: en_US
		</script>
		<script type="IN/Share" data-url="http://dosendacard.org/" data-counter="right"></script>
	
	<a href="http://mentalhealthsf.org" target="_blank"><img class="mhasf" src="img/mhasf-logo.png" /></a>

</footer>

		
		
	</div>
	
	
	<script type="text/template" id="create-card-template">
	
	<p>Would you like to know more? &nbsp;<span class="learn">Click here to learn more</span></p>
		
		<div class="explanation">
		<h3>We collect messages of hope and well-being on blank greeting cards. </h3>
		<p>The first Monday of every month peer educators from SOLVE, (Sharing Our Lives, Voices, and Experience) the Mental Health Association of San Francisco (MHASF) stigma reduction speakers bureau, visit and deliver cards to the San Francisco General Hospital psychiatric unit. We tell stories of our lives, our recovery, the stigma that we have endured around mental health challenges and how we are staying well today. Through the Do Send A Card project we also bring messages of hope and the possibility of recovery to the patients on the unit, who are always so grateful. We continuously hear from patients and staff that these are the first cards they have ever received while they were on the unit or in any other mental health facility.</p>
		<p>
For example, one person sent a card back from the hospital “Thank you for your kindness and love. I appreciate all of you positive feedback and may you have a wonderful holiday.” </p>
<p>
By participating, your message will be handwritten and delivered to a person who would greatly appreciate your kind words. It is a way for you to share a little hope and positivity with others who may have never received such messages. 
</p>
		<p>Would you like more information? <a href="http://dosendacard.org/about/">Click here</a></p>
		<button class="btn learn-button">Close</button>
		</div>
		
	
		<form class="create-card-form">
		
			
			<div class="pick-div">
				<h2>Choose your design</h2>
					<label><input type="radio" id="radio1" name="choice" value="Design 1" /><img src="img/thmb/pic.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
					<label><input type="radio" id="radio2" name="choice" value="Design 2"  /><img src="img/thmb/sunflower.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
					<label><input type="radio" id="radio3" name="choice" value="Design 3"  /><img src="img/thmb/pic2.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
<!-- 					<label><input type="radio" id="radio4" name="choice" value="Design 4"  /><img src="img/thmb/blank.png" /></label><br/> -->
			</div>
			
			<div class="message-div">
				
					<p><span class="need-support">Need ideas to craft a message of hope?</span></p>
					
					<div class="support">
			<h3>Do Send Messages of Hope </h3>
			<p>
			<ol>

				<li>You are NOT your illness. Believe in your own Power. I too have been there, and I promise it gets better! </li>
				<li>‘You can do it! We can live happy and productive lives after being in the hospital. There are lots of us out here in the community waiting for you to re-join us!  With hope______________</li>
				<li>Dear Friend, I wanted to say hello and let you know that you are very loved and that the world needs you. Love and Light, ___________</li>
				<li>Be patient with yourself, you will regain the life you want to have.</li>
				<li>Hope lives - Treatment works - People do recover - I didn’t know that 14 years ago, today my life is full, happy and full of blessings. People helped me and supported me. Many are waiting to help and support you too. ___________</li>
				<li>To an amazing and remarkable individual…..YOU! I too am living with challenges. Please remain ever hopeful in your life and know there is someone out there truly wishing you peace and happiness above all. </li>
				<li>Hello, just wanted to send a smile your way today. :) Smile. It is said that smiling is like medicine to your health. Today, I want to send you a 1,000 smiles. Sincerely, __________</li>
				</ol>
			
		</p>
		
			
		
		</div>
				
				<textarea placeholder="Enter your message of hope" class="textarea1" name="messageText"></textarea>
				&nbsp; &nbsp; <span class="count1"></span><br>
				
				<input placeholder="Your name (optional)" type="text" name="name" value=<%= sessionStorage.name %> >
				<input placeholder="Your email (optional)" type="email" name="email" value=<%= sessionStorage.email %> >
				
				<a class="btn previewBtn">Preview</a>
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
			
		</form>
	
	
	
	
	
	
	</script>
	
	
	
	
	<script type="text/template" id="preview-page-template">
	
	
		<h2>Preview</h2><br>
		
		<div class="preview-page-container">
		
			<div class="preview-page-card">
			
			
			</div>
			
			<div class="preview-page-message">
						<p><%= sessionStorage.messageText %></p>
						
						<% if(sessionStorage.name !== ""){ %>
							<p> - <%= sessionStorage.name %></p> 
						<% } %>
						
						
			</div>
		
		</div>
		
		<br>
		&nbsp;
		<br>
		
		<a class="btn editBtn">Edit</a>
		<a class="btn btn-primary submit">Send</a>
		
		
	</script>
	
	
	
	
	
	
	
	<script type="text/template" id="submit-page-template">
	
		<h2>Thank you for your support</h2><br>
		<p>Your message will be handwritten and delivered to someone very soon.</p>
		
		<p>We love what we do and we would like to continue doing it. This project costs us approximately $2.80 per card in supplies and staff time. If you would like to support us by covering the cost of your card, please consider a donation. If you would like to volunteer to help us write a few cards, please click below.</p>
		<a href="http://www.mentalhealthsf.org/donate/" target="_blank" class="btn btn-success">Donate</a> &nbsp; <a href="http://mentalhealthsf.org" target="_blank" class="btn">Volunteer</a> &nbsp; <a href="http://dosendacard.org" class="btn" onclick="sessionStorage.clear();">Return Home</a>
		<br>&nbsp;<br>
		
		<div class="preview-container">
			<div class="preview-card">
			
			
		
			</div>
			
			<div class="preview-message">
						<p><%= sessionStorage.messageText %></p>
						
						<% if(sessionStorage.name !== ""){ %>
							<p> - <%= sessionStorage.name %></p> 
						<% } %>
					
					
	
			</div>
		
		</div>
		<!--

		<div class="confirm-date">
			<p>Your card will be delivered: POSSIBLE TRACKING / NOTIFICATION FEATURE</p><br>
		</div>
		
-->
		
	
	</script>
	
	
	
	<script type="text/template" id="edit-page-template">
	
		<h2>Edit your card</h2><br>
		
		
		<form class="edit-card-form">
		
			
			<div class="pick-div">
				<h2>Choose your design</h2>
					<label><input type="radio" id="radio1" name="choice" value="Design 1" /><img src="img/thmb/pic.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
					<label><input type="radio" id="radio2" name="choice" value="Design 2"  /><img src="img/thmb/sunflower.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
					<label><input type="radio" id="radio3" name="choice" value="Design 3"  /><img src="img/thmb/pic2.jpg" /></label> &nbsp; &nbsp; &nbsp; &nbsp;
<!-- 					<label><input type="radio" id="radio4" name="choice" value="Design 4"  /><img src="img/thmb/blank.png" /></label><br/> -->
			</div>
			
			<div class="message-div">
			
			
				
				<textarea placeholder="Enter your message" class="textarea1" name="messageText"><%= sessionStorage.messageText %></textarea>
				&nbsp; &nbsp; <span class="count1"></span><br>
				
				<input placeholder="Your name (optional)" type="text" name="name" value=<%= sessionStorage.name %> >
				<input placeholder="Your email (optional)" type="email" name="email" value=<%= sessionStorage.email %> >
				
				<a class="btn previewEditBtn">Preview</a>
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
			
		</form>
		
	</script>
		 



<script src="jquery.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="jquery.NobleCount.min.js"></script>

<script src="base.js"></script>
<script src="models.js"></script>
<script src="views.js"></script>
<script src="router.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40585029-1', 'dosendacard.org');
  ga('send', 'pageview');

</script>

</body>
</html>